@typeparam TDataType
@inherits Grid<TDataType>

@* <RadzenCard Variant="Variant.Outlined" class="rz-my-4">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
        <div>Modo de edição:</div>
        <RadzenSelectBar @bind-Value="@editMode" TextProperty="Text" ValueProperty="Value"
                         Data="@(Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small"
                         Disabled="@(editMode == DataGridEditMode.Multiple && dataToInsert.Count() > 1)" />
    </RadzenStack>
</RadzenCard> *@

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem;" Wrap="FlexWrap.Wrap">
    <RadzenButton Text="@ExportExcelText" Icon="grid_on" Click="@(args => Export("excel"))" />
    <RadzenButton Text="@ExportCSVText" Icon="wrap_text" Click="@(args => Export("csv"))" />
</RadzenStack>

<RadzenDataGrid @ref="GridComponent"
                @bind-Value=SelectedData
                Data="@Data"
                TItem="TDataType"
                EditMode="@editMode"
                RowUpdate="@OnUpdateRow"
                RowCreate="@OnCreateRow"
                Sort="@(() => Reset())"
                Page="@(() => Reset())"
                Filter="@(() => Reset())"
                FilterPopupRenderMode="@FilterPopupRenderMode"
                FilterCaseSensitivity="@FilterCaseSensitivity"
                IsLoading="@IsLoading"
                AllowFiltering="@AllowFiltering"
                AllowColumnResize="@AllowColumnResize"
                AllowAlternatingRows="@AllowAlternatingRows"
                AllowSorting="@AllowSorting"
                AllowPaging="@AllowPaging"
                ShowPagingSummary="@ShowPagingSummary"
                AllowColumnReorder="@AllowColumnReorder"
                AllowGrouping="@AllowGrouping"
                AllowMultiColumnSorting="@AllowMultiColumnSorting"
                AllowColumnPicking="@AllowColumnPicking"
                AllowCompositeDataCells="@AllowCompositeDataCells"
                AllowFilterDateInput="@AllowFilterDateInput"
                AllowPickAllColumns="@AllowPickAllColumns"
                ColumnsPickerAllowFiltering="@ColumnsPickerAllowFiltering"
                Density="@Density"
                PageSize="@PageSize"
                ColumnWidth="@ColumnWidth"
                PagerHorizontalAlign="@PagerHorizontalAlign"
                FilterMode="@FilterMode"
                LogicalFilterOperator="@LogicalFilterOperator"
                Culture="@Culture"
                EmptyText="@EmptyText"
                FirstPageTitle="@FirstPageTitle"
                LastPageTitle="@LastPageTitle"
                NextPageTitle="@NextPageTitle"
                PrevPageTitle="@PrevPageTitle"
                GroupPanelText="@GroupPanelText"
                SelectionMode="@SelectionMode"
                RowSelect="@OnRowSelectedEvent"
                ApplyFilterText="@ApplyFilterText"
                PageSizeText="@PageSizeText"
                StartsWithText="@StartsWithText"
                EndsWithText="@EndsWithText"
                ContainsText="@ContainsText"
                DoesNotContainText="@DoesNotContainText"
                IsEmptyText="@IsEmptyText"
                IsNotEmptyText="@IsNotEmptyText"
                IsNullText="@IsNullText"
                IsNotNullText="@IsNotNullText"
                EqualsText="@EqualsText"
                NotEqualsText="@NotEqualsText"
                GreaterThanText="@GreaterThanText"
                GreaterThanOrEqualsText="@GreaterThanOrEqualsText"
                LessThanText="@LessThanText"
                LessThanOrEqualsText="@LessThanOrEqualsText"
                ClearFilterText="@ClearFilterText"
                FilterText="@FilterText"
                OrOperatorText="@OrOperatorText"
                AndOperatorText="@AndOperatorText"
                ColumnsShowingText="@ColumnsShowingText"
                AllColumnsText="@AllColumnsText"
                EnumFilterSelectText="@EnumFilterSelectText"
                AllowRowSelectOnRowClick="@AllowRowSelectOnRowClick">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Novo" Click="@InsertRow" Disabled="@(editMode == DataGridEditMode.Single && dataToInsert.Count() > 0)" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Filterable="false"
                              Sortable="false"
                              Pickable="false"
                              Reorderable="false"
                              Groupable="false"
                              TextAlign="TextAlign.Center"
                              Width="15px"
                              FrozenPosition="FrozenColumnPosition.Right">
            <HeaderTemplate>
                <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?"
                                Value="@(SelectedData == null || SelectedData?.Any() != true ? false : !Data.All(i => SelectedData.Contains(i)) ? null : Data.Any(i => SelectedData.Contains(i)))"
                                Change="@(args => SelectedData = args == true ? Data.ToList() : null)" />
            </HeaderTemplate>
            <Template Context="data">
                <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(SelectedData != null && SelectedData.Contains(data))"
                                TValue="bool" Change=@(args => { if(!AllowRowSelectOnRowClick) { GridComponent?.SelectRow(data); }}) />
            </Template>
        </RadzenDataGridColumn>

        @foreach (var c in Columns)
        {
            <RadzenDataGridColumn Property="@c.PropertyName"
                                  Title="@c.Title"
                                  Width="@c.Width"
                                  TextAlign="@c.TextAlign"
                                  Filterable="@c.Filterable"
                                  Frozen="@c.Frozen"
                                  Groupable="@c.Groupable"
                                  Pickable="@c.Pickable"
                                  Reorderable="@c.Reorderable"
                                  Resizable="@c.Resizable"
                                  Sortable="@c.Sortable"
                                  UniqueID="@c.UniqueID"
                                  ColumnPickerTitle="@c.ColumnPickerTitle"
                                  Visible="@c.Visible">
                <EditTemplate Context="data">
                    @switch (c.Option.Type)
                    {
                        case RadzenFormInputType.TextBox:
                        @if(c.Option.Model is ITextBoxComponent component)
                        {
                        <RadzenTextBox 
                                Style="@component.Style"
                                Name="@component.Name"
                                Culture="@component.Culture"
                                Disabled="@component.Disabled"
                                MaxLength="@component.MaxLength"
                                MouseEnter="@component.MouseEnter"
                                MouseLeave="@component.MouseLeave"
                                Placeholder="@component.Placeholder"
                                ReadOnly="@component.ReadOnly"
                                Trim="@component.Trim"
                                Visible="@component.Visible"
                                AutoCompleteType="@component.AutoCompleteType"
                               Value="@GetPropertyValue(data, c.PropertyName)"
                            ValueChanged="@(args => SetPropertyValue(data, c.PropertyName, args))" />
                        }
                        break;
                        case RadzenFormInputType.DropDown:
                 @*            <RadzenDropDown Value="@GetPropertyValue(data, c.PropertyName)"
                                            ValueChanged="@(args => SetPropertyValue(data, c.PropertyName, args))"
                                            TValue="TDataType"
                                            AllowClear
                                             AllowFiltering
                                             AllowSelectAll
                                             AllowVirtualization
                                             Change
                                             Chips
                                             ClearSearchAfterSelection
                                             Count
                                             Culture
                                             Data
                                             Disabled
                                             DisabledProperty
                                             FilterCaseSensitivity
                                             FilterAsYouType
                                             FilterPlaceholder
                                             MouseEnter
                                             PageSize
                                             ReadOnly
                                             Visible
                                             // etc
                                            Style="width: 100%; max-width: 400px;" />
                            break; *@
                        case RadzenFormInputType.DatePicker:
                            <RadzenDatePicker Value="@GetPropertyValue(data, c.PropertyName)"
                                              TValue="TDataType"
                                              ValueChanged="@(args => SetPropertyValue(data, c.PropertyName, args))"
                                              Style="width:100%" />
                            break;
                        case RadzenFormInputType.Numeric:
                        @if(c.Option.Type is RadzenNumeric component)
                            <RadzenNumeric
                            AutoCompleteType="@component.AutoCompleteType" 
                            Change="@component.Change" 
                            ConvertValue="@component.ConvertValue" 
                            Disabled="@component.Disabled" 
                            Format="@component.Format" 
                            Max="@component.Max" 
                            Min="@component.Min" 
                            Name="@component.Name" 
                            MouseEnter="@component.MouseEnter" 
                            MouseLeave="@component.MouseLeave" 
                            Placeholder="@component.Placeholder" 
                            ReadOnly="@component.ReadOnly" 
                            Value="@component.Value" 
                            ValueChanged="@component.ValueChanged" 
                            Visible ="@component.Visible"
                            TValue="@component.TValue" 
                            TextAlign="@component.TextAlign" 
                            Style="@component.Style"
                            / >
                            break;
                        @* case RadzenFormInputType.Button:
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" aria-label="Save"> </RadzenButton>
                            break;
                        case RadzenFormInputType.CheckBox:
                            <RadzenCheckBox @bind-Value=@value Name="CheckBox1" Change="" Culture="" Disabled MouseEnter="" MouseLeave="" Placeholder="" ReadOnly Style="" TValue="" Value="" ValueChanged="" Visible/>
                            <RadzenLabel Text="CheckBox" Component="CheckBox1" class="rz-ms-2" />
                            break;
                        case RadzenFormInputType.CheckBoxList:
                            <RadzenCheckBoxList @bind-Value=@values TValue="int">
                                <Items>
                                    <RadzenCheckBoxListItem Text="Orders" Value="1" />
                                    <RadzenCheckBoxListItem Text="Employees" Value="2" />
                                    <RadzenCheckBoxListItem Text="Customers" Value="3" />
                                </Items>
                            </RadzenCheckBoxList>
                            break;
                        case RadzenFormInputType.DatePicker:
                            <RadzenLabel Text="Select Date" Component="RadzenDatePickerBindValue" />
                            <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue" ShowCalendarWeek />
                            break;
                        case RadzenFormInputType.RadioButtonList:
                            <RadzenRadioButtonList @bind-Value=@value TValue="int">
                                <Items>
                                    <RadzenRadioButtonListItem Text="Orders" Value="1" />
                                    <RadzenRadioButtonListItem Text="Employees" Value="2" />
                                    <RadzenRadioButtonListItem Text="Customers" Value="3" />
                                </Items>
                            </RadzenRadioButtonList>
                            break;
                        case RadzenFormInputType.TextArea:
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">TextArea</RadzenText>
                            <RadzenTextArea Change=@(args => OnChange(args, "TextArea")) Style="width: 100%" aria-label="TextArea" Cols="" Culture="" Disabled MaxLength="" MouseEnter="" MouseLeave="" Name="" Placeholder=""  ReadOnly Rows="" Value="" ValueChanged="" Visible/ >
                            break; *@
                        default:
                            break;
                    }
                </EditTemplate>
            </RadzenDataGridColumn>
        }
        <RadzenDataGridColumn Context="order"
                              Filterable="false"
                              Sortable="false"
                              Pickable="false"
                              Reorderable="false"
                              Groupable="false"
                              TextAlign="TextAlign.Center"
                              Frozen="true"
                              Width="60px"
                              FrozenPosition="FrozenColumnPosition.Right"
                              Title="Ações">
            <Template Context="order">
                @if (CanEdit)
                {

                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                    </RadzenButton>
                }
                @if (CanDelete)
                {

                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(args => DeleteRow(order))" @onclick:stopPropagation="true">
                    </RadzenButton>
                }
            </Template>
            <EditTemplate Context="order">
                @if (CanEdit)
                {
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(order))" aria-label="Save">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@((args) => CancelEdit(order))" aria-label="Cancel">
                    </RadzenButton>
                }
                @if (CanDelete)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(args => DeleteRow(order))" aria-label="Delete">
                    </RadzenButton>
                }
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    DataGridEditMode editMode = DataGridEditMode.Single;

    List<TDataType> dataToInsert = [];
    List<TDataType> ordersToUpdate = [];

    void Reset()
    {
        dataToInsert.Clear();
        ordersToUpdate.Clear();
    }

    void Reset(TDataType order)
    {
        dataToInsert.Remove(order);
        ordersToUpdate.Remove(order);
    }

    async Task EditRow(TDataType order)
    {
        if (editMode == DataGridEditMode.Single && dataToInsert.Count() > 0)
        {
            Reset();
        }

        ordersToUpdate.Add(order);
        await GridComponent.EditRow(order);
    }

    void OnUpdateRow(TDataType order)
    {
        Reset(order);

        // dbContext.Update(order);

        // dbContext.SaveChanges();
    }

    async Task SaveRow(TDataType order)
    {
        await GridComponent.UpdateRow(order);
    }

    void CancelEdit(TDataType order)
    {
        Reset(order);

        GridComponent.CancelEditRow(order);

        // var orderEntry = dbContext.Entry(order);
        // if (orderEntry.State == EntityState.Modified)
        // {
        //     orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        //     orderEntry.State = EntityState.Unchanged;
        // }
    }

    async Task DeleteRow(TDataType order)
    {
        Reset(order);

        // if (orders.Contains(order))
        // {
        //     dbContext.Remove<Order>(order);

        //     dbContext.SaveChanges();

        //     await ordersGrid.Reload();
        // }
        // else
        // {
        //     ordersGrid.CancelEditRow(order);
        //     await ordersGrid.Reload();
        // }
    }

    async Task InsertRow()
    {
        if (editMode == DataGridEditMode.Single)
        {
            Reset();
        }

        // var order = new object { };
        // dataToInsert.Add(order);
        // await dataGrid.InsertRow(order);
    }

    void OnCreateRow(TDataType order)
    {
        // dbContext.Add(order);

        // dbContext.SaveChanges();

        // ordersToInsert.Remove(order);
    }

    private string? GetPropertyValue(object obj, string propertyName)
    {
        var objValue = obj?.GetType().GetProperty(propertyName)?.GetValue(obj, null);

        return objValue is null ? null : objValue.ToString();
    }

    private T? SetPropertyValue<T>(object obj, string propertyName, T value)
    {
        var propertyInfo = obj?.GetType().GetProperty(propertyName);
        if (propertyInfo != null && propertyInfo.CanWrite)
        {
            propertyInfo.SetValue(obj, value);
            return value;
        }

        return default(T);
    }
}
